<div class="min-h-screen grid grid-cols-1 md:grid-cols-2">
  <!-- Left: Form -->
  <div class="flex flex-col items-center justify-center p-6 sm:p-12 bg-slate-50">
    <div class="w-full max-w-md">
      <h1 class="text-3xl font-bold text-slate-800">هل نسيت كلمة المرور؟</h1>
      <p class="text-slate-500 mt-2 mb-6">أدخل بريدك الإلكتروني وسنرسل لك رمز إعادة التعيين</p>
      
      <form [formGroup]="emailForm" (ngSubmit)="sendOtp()" class="space-y-4">
        <div>
          <label class="font-medium text-slate-700 block mb-1.5">
            البريد الإلكتروني
          </label>
        

        <input type="email" formControlName="email" placeholder="example@email.com" class="w-full py-2.5 px-4 bg-white border rounded-lg
             focus:ring-2 focus:ring-emerald-500 outline-none"
          [class.border-red-500]="f['email'].invalid && f['email'].touched" (blur)="f['email'].markAsTouched()">

        @if (f['email'].errors?.['required'] && f['email'].touched) {
        <div
          class="flex items-center p-2 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <span class="font-medium"> صيغة البريد الإلكتروني غير صحيحة
            </span>
          </div>
        </div>

        }

        @if (!f['email'].errors?.['required'] && f['email'].errors?.['email'] && f['email'].touched) {

        <div
          class="flex items-center p-4 my-1 text-sm text-red-800 rounded-lg bg-red-100  border border-red-200 transition-opacity"
          role="alert">
          <svg class="shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <p class="text-red-600 text-sm mt-1">
              صيغة البريد الإلكتروني غير صحيحة
            </p>
          </div>
        </div>
        }

        @if (!f['email'].errors?.['required'] &&
        (f['email'].errors?.['minlength'] || f['email'].errors?.['maxlength']) &&
        f['email'].touched) {
        <p class="text-red-600 text-sm mt-1">
          البريد الالكترونى يجب ألا يقل عن 5 أحرف ولا تزيد عن 50
        </p>
        }
      </div>

        <!-- <div class="text-red-500 text-sm mt-1" *ngIf="f['email'].touched && f['email'].invalid">
          <span *ngIf="f['email'].errors?.['required']">البريد الإلكتروني مطلوب.</span>
          <span *ngIf="f['email'].errors?.['email']">صيغة البريد الإلكتروني غير صحيحة.</span>
        </div> -->

        <button type="submit"
                class="w-full py-3 px-4 bg-slate-800 text-white font-semibold rounded-lg hover:bg-slate-900 transition-colors cursor-pointer"
                [disabled]="isLoading()">
          {{ isLoading() ? 'جاري الإرسال...' : 'إرسال OTP' }}
        </button>

        <div *ngIf="errorMessage()" class="text-red-500 text-center mt-2">{{ errorMessage() }}</div>
      </form>
    </div>
  </div>

  <!-- Right Branding -->
 <app-left-section-view></app-left-section-view>
</div>
