<div  class="min-h-screen grid grid-cols-1 md:grid-cols-2">
    <div class="flex flex-col items-center justify-center p-6 sm:p-12 bg-slate-50">
        <div class="w-full max-w-md">
            <h1 class="text-3xl font-bold text-slate-800">ادخل الرمز</h1>
            <p class="text-slate-500 mt-2 mb-6">سجل الدخول للوصول إلى لوحة التحكم الخاصة بك.</p>

            <form class="space-y-4">

                <div>
                    <div class="flex justify-center items-center mb-2">
                        <label for="password-login" class="font-medium text-slate-700">رمز التحقق</label>
                       
                    </div>
                    <div class="relative">
                        <input type="" id="otp"
                            class="w-full py-2.5 px-4 bg-white border border-slate-300 rounded-lg focus:ring-2 focus:ring-emerald-500"
                            placeholder="ادخل رمز التحقق">
                    </div>
                </div>

                <button type="button"  routerLink="/new-pass" 
                    class="w-full py-3 px-4 bg-slate-800 text-white font-semibold rounded-lg hover:bg-slate-900 transition-colors cursor-pointer">
                    تاكيد cc
                </button>
            </form>

    
        </div>
    </div>

    <!-- Right Column: Branding/Info -->

    <div
        class="hidden md:flex flex-col items-center justify-center p-12 bg-[linear-gradient(90deg,rgba(42,123,155,1)_0%,rgba(43,204,110,1)_37%,rgba(235,235,235,1)_100%)] text-white">


        <div class="max-w-md text-center">
            <img
            src="/imgs/LogoZakah.png"
            alt="ZakahCalc Logo" class="h-56 w-auto mx-auto mb-6">
            <h2 class="text-3xl font-bold tracking-tight">مرحباً بك في حاسبة الزكاة!</h2>
            <p class="mt-4 text-gray-500">انضم الآن لحساب زكاة سلس ودقيق. أدِ واجباتك بثقة وسهولة.</p>

            <div class="mt-10 p-6 bg-gray-800 rounded-xl shadow-lg">
                <h3 class="font-semibold text-start">رحلة زكاتك</h3>
                <div class="mt-4 flex items-end h-32 space-x-2">
                    <div class="flex-1 bg-gray-700 rounded-t-md animate-pulse"
                        style="height: 40%; animation-delay: 100ms;"></div>
                    <div class="flex-1 bg-gray-700 rounded-t-md animate-pulse"
                        style="height: 60%; animation-delay: 200ms;"></div>
                    <div class="flex-1 bg-emerald-500 rounded-t-lg" style="height: 85%;"></div>
                    <div class="flex-1 bg-gray-700 rounded-t-md animate-pulse"
                        style="height: 50%; animation-delay: 300ms;"></div>
                    <div class="flex-1 bg-gray-700 rounded-t-md animate-pulse"
                        style="height: 70%; animation-delay: 400ms;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
